In [14]:
import pandas as pd
df_deaths= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv') 
df_confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [15]:
today_date = df_deaths.columns[-1]

In [16]:
today_date

'10/5/20'

In [17]:
sum(list(df_deaths[today_date]))

1043945

In [18]:
import plotly.graph_objects as go
df_confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/26/20,9/27/20,9/28/20,9/29/20,9/30/20,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,39192,39227,39233,39254,39268,39285,39290,39297,39341,39422
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,13153,13259,13391,13518,13649,13806,13965,14117,14266,14410
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,50914,51067,51213,51368,51530,51690,51847,51995,52136,52270
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,1836,1836,1966,1966,2050,2050,2110,2110,2110,2370
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,4672,4718,4797,4905,4972,5114,5211,5370,5402,5530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,38253,38703,39121,39541,39899,40322,40766,41078,41498,41957
262,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2030,2030,2031,2031,2034,2039,2040,2041,2041,2041
264,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,14612,14641,14660,14715,14759,14802,14830,14974,15052,15089
265,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,7803,7812,7816,7837,7838,7850,7858,7885,7888,7898

In [19]:
fig = go.Figure()
fig.add_trace(go.Scattergeo(
        lon = df_confirmed['Long'],
        lat = df_confirmed['Lat'],
        text = df_confirmed[today_date],
        marker = dict(
            size = df_confirmed[today_date]/10000,
            color = "purple",
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
            name ="Confirmed"))
fig.add_trace(go.Scattergeo(
        lon = df_deaths['Long'],
        lat = df_deaths['Lat'],
        text = df_deaths[today_date],
        marker = dict(
            size = df_deaths[today_date]/10000,
            color = "red",
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
            name ="Deaths"))
fig.add_trace(go.Scattergeo(
        lon = df_recovered['Long'],
        lat = df_recovered['Lat'],
        text = df_recovered[today_date],
        marker = dict(
            size = df_recovered[today_date]/10000,
            color = "green",
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
            name ="Recovered"))

fig.add_trace(go.Scattergeo(
        lon = df_recovered['Long'],
        lat = df_recovered['Lat'],
        text = df_recovered["Country/Region"],
        marker = dict(
            size = df_recovered[today_date]/10000,
            color = "beige",
            line_color='rgb(40,40,40)',
            line_width=0.5,
            sizemode = 'area'
        ),
            name ="Country Name"))


fig.update_layout(
        showlegend = True,
        geo = dict(
            landcolor = 'rgb(217, 217, 217)',
        )
    )


fig.write_html("templates/map.html")

In [31]:
# Line plots 
import plotly.express as px
import numpy as np

In [159]:
days = df_recovered.columns[4:]
days

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '9/26/20', '9/27/20', '9/28/20', '9/29/20', '9/30/20', '10/1/20',
       '10/2/20', '10/3/20', '10/4/20', '10/5/20'],
      dtype='object', length=258)

In [162]:
day_zero = days[0]
last_day = days[-1]
number_of_days = len(days)

In [163]:
day_zero, last_day, number_of_days

('1/22/20', '10/5/20', 258)

In [48]:
time = np.arange(0,number_of_days + 8,1)

In [51]:
del df_deaths["time"]

In [58]:
df_deaths["Days"] = time

In [161]:
len(list(df_recovered.iloc[1]))

262

In [75]:
for i in range(0, len(time)):
    print(list(df_deaths.iloc[i])[1])
    print(list(df_deaths.iloc[i])[4:] + [0])

Afghanistan
260
Albania
260
Algeria
260
Andorra
260
Angola
260
Antigua and Barbuda
260
Argentina
260
Armenia
260
Australia
260
Australia
260
Australia
260
Australia
260
Australia
260
Australia
260
Australia
260
Australia
260
Austria
260
Azerbaijan
260
Bahamas
260
Bahrain
260
Bangladesh
260
Barbados
260
Belarus
260
Belgium
260
Belize
260
Benin
260
Bhutan
260
Bolivia
260
Bosnia and Herzegovina
260
Botswana
260
Brazil
260
Brunei
260
Bulgaria
260
Burkina Faso
260
Burma
260
Burundi
260
Cabo Verde
260
Cambodia
260
Cameroon
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Canada
260
Central African Republic
260
Chad
260
Chile
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
China
260
Colombia
260
Comoros
260
Congo (Brazzaville)
260
Congo (Kinshasa)
260
Costa Rica
260
Cote d'Ivoire
260
Croatia
260
Cuba
260
Cyprus
260
Czechia
260
Denmark
260
Denmark
260
Denmark
260
Diamond Princess
260
Djibouti
260
Dominica
260
Dominican Republic
260
Ecuador
260
Egypt
260
El Salvador
260
Equatorial Guinea
260
Eritrea
260
Estonia
260
Eswatini
260
Ethiopia
260
Fiji
260
Finland
260
France
260
France
260
France
260
France
260
France
260
France
260
France
260
France
260
France
260
France
260
France
260
Gabon
260
Gambia
260
Georgia
260
Germany
260
Ghana
260
Greece
260
Grenada
260
Guatemala
260
Guinea
260
Guinea-Bissau
260
Guyana
260
Haiti
260
Holy See
260
Honduras
260
Hungary
260
Iceland
260
India
260
Indonesia
260
Iran
260
Iraq
260
Ireland
260
Israel
260
Italy
260
Jamaica
260
Japan
260
Jordan
260
Kazakhstan
260
Kenya
260
Korea, South
260
Kosovo
260
Kuwait
260
Kyrgyzstan
260
Laos
260
Latvia
260
Lebanon
260
Lesotho
260
Liberia
260
Libya
260
Liechtenstein
260
Lithuania
260
Luxembourg
260
MS Zaandam
260
Madagascar
260
Malawi
260
Malaysia
260
Maldives
260
Mali
260
Malta
260
Mauritania
260
Mauritius
260
Mexico
260
Moldova
260
Monaco
260
Mongolia
260
Montenegro
260
Morocco
260
Mozambique
260
Namibia
260
Nepal
260
Netherlands
260
Netherlands
260
Netherlands
260
Netherlands
260
Netherlands
260
New Zealand
260
Nicaragua
260
Niger
260
Nigeria
260
North Macedonia
260
Norway
260
Oman
260
Pakistan
260
Panama
260
Papua New Guinea
260
Paraguay
260
Peru
260
Philippines
260
Poland
260
Portugal
260
Qatar
260
Romania
260
Russia
260
Rwanda
260
Saint Kitts and Nevis
260
Saint Lucia
260
Saint Vincent and the Grenadines
260
San Marino
260
Sao Tome and Principe
260
Saudi Arabia
260
Senegal
260
Serbia
260
Seychelles
260
Sierra Leone
260
Singapore
260
Slovakia
260
Slovenia
260
Somalia
260
South Africa
260
South Sudan
260
Spain
260
Sri Lanka
260
Sudan
260
Suriname
260
Sweden
260
Switzerland
260
Syria
260
Taiwan*
260
Tajikistan
260
Tanzania
260
Thailand
260
Timor-Leste
260
Togo
260
Trinidad and Tobago
260
Tunisia
260
Turkey
260
US
260
Uganda
260
Ukraine
260
United Arab Emirates
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
United Kingdom
260
Uruguay
260
Uzbekistan
260
Venezuela
260
Vietnam
260
West Bank and Gaza
260
Western Sahara
260
Yemen
260
Zambia
260
Zimbabwe
260

In [132]:
fig_line = go.Figure()

In [135]:
import plotly.express as px
import math
for i in range(0, len(time)):
    fig_line.add_trace(
        go.Scatter(x=time[7:], y =df_deaths.iloc[i][4:],
                   name=df_deaths.iloc[i][1] + f"(</b> {str(df_deaths.iloc[i][2])},{str(df_deaths.iloc[i][2])})"))
fig_line.write_html("templates/line_deaths.html")

In [154]:
fig_bar = go.Figure()
for i in range(0, len(time)):
    fig_bar.add_trace(
        go.Bar(x=["Region", "Country"], y =[0,sum(list(df_deaths.iloc[i][4:]))],
                   name=df_deaths.iloc[i][1] + f"(</b> {str(df_deaths.iloc[i][2])},{str(df_deaths.iloc[i][2])})"))
fig_bar.write_html("templates/bar_deaths.html")